# Auto detect text files and perform LF normalization
* text=auto

*.html linguist-vendored
*.tex linguist-vendored
*.sty linguist-vendored
*.cls linguist-vendored
*.toc linguist-vendored
*.spec linguist-vendored
*.spp linguist-language=S++
